@{
    ViewBag.Title = "404 Page Not Found";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div style="text-align:center">
    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>

        <p>
            An error has occurred. Please try again later.
        </p>

        <p>Contact Administrator if the problem persists.</p>
        <br />

        <a href="@Url.Action("Index", "Home", new { areas = "" })" class="btn btn-primary">Return to Homepage</a>
    </div>
</div>
