@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="login-box-body">
    <h3 style="text-align:center;">Forgot Password Confirmation</h3>
    <p class="login-box-msg">Please check your email to reset your password.</p>

    <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-block btn-flat">Back to Homepage</a>
</div>
