@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="login-box-body">
    <h3 style="text-align:center;">Reset Password Confirmation</h3>
    <p class="login-box-msg">Your password has been reset.</p>

    <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-block btn-flat">Click here to log in</a>
</div>
