
<div class="row">
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-orange">
            <div class="inner">
                <h4>Manage Account</h4>
                <br />
                <br />
                <br />
            </div>
            <div class="icon">
                <i class="fa fa-cogs"></i>
            </div>
            <a href="@Url.Action("ManageAccount", "User")" class="small-box-footer">Manage &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
