@{
    ViewBag.Title = "Home Page";

    var hasLiveEvent = (bool)TempData["HasLiveEvent"];
}

    <!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('../../Content/img/singapore-bg.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">The Amazing Race Singapore</h1>
                            <p class="white-text">
                                The Amazing Race is a reality television competition, typically involving teams of two, in a race around Singapore.
                            </p>
                            <a href="#live-event" class="btn main-btn">Go to Live Event!</a>
                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>
    <!-- /Header -->
    <!-- Live Event -->
    <div id="live-event" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Live Event</h2>
                </div>
                
                @if (hasLiveEvent)
                {
                    <div class="col-md-6">
                        @Html.Action("GetPublicLeaderboard", "RaceEvent", new { area = "Admin" })
                    </div>
                    <div class="col-md-12">
                        @Html.Action("GetPublicMap", "RaceEvent", new { area = "Admin" })
                    </div>
                }
                else
                {
                    <div class="col-md-12" style="text-align:center;">
                        <h4>No Live Event is broadcasted now! Please come back again later.</h4>
                        <br />
                        <img width="250" src="~/Content/img/no-broadcast.png" />
                    </div>
                }
            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Live Event -->