@model IEnumerable<TheAmazingRace.Models.RaceEventPitStopTeam>

@{ 
    var rank = 0;
    var raceEventId = 0;
}

<div id="leaderboard">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Leaderboard</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="box">
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Rank</th>
                            <th>Team Name</th>
                            <th>Team Member</th>
                            <th style="text-align:right;">Distance to Next Stop</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            raceEventId = item.RaceEventId;

                            <tr>
                                <td>@(rank += 1)</td>
                                <td>@item.Team.Name</td>
                                <td>
                                    @foreach (var member in item.Team.TeamMembers)
                                    {
                                        <img src="@member.PhotoUrl" class="img-circle" style="width:40px; margin:3px 5px;">
                                    }
                                </td>
                                <td style="text-align:right;">@item.Team.DistanceToNextStop km</td>
                            </tr>
                        }
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>

<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            var raceEventId = @raceEventId;

            var payload = {
                raceEventId
            };

            $.ajax({
                type: "POST",
                url: "/Admin/RaceEvent/_Leaderboard",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(payload)
            }).always(function (data) {
                if (data.status == 200) {
                    $("#leaderboard").replaceWith(data.responseText);
                } else {
                    console.log("An error has occured. Please try again later!");
                }
            });
        }, 10000);
    });
</script>