
@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-xs-12">
        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i> Race is already started!</h3>

            <p>
                No edit is allowed once race is started.
            </p>

            <p>Contact Administrator for more assistance.</p>
            <br />

            <a href="@Url.Action("Index", "Dashboard", new { areas = "Admin" })" class="btn btn-primary">Return to Dashboard</a>
        </div>
    </div>
</div>

